extends layout

block content
    main
        div.sidebar
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pretium est sed risus faucibus tempor. Duis tortor mauris, malesuada ut ligula eu, lacinia tristique lectus. Phasellus id congue eros, vel dapibus nunc. Aliquam tempor pulvinar massa vitae sollicitudin. Donec pretium ligula vel placerat auctor. Nunc luctus viverra massa, id cursus felis gravida vel. Nunc rutrum ante arcu, a sollicitudin Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pretium est sed risus faucibus tempor. Duis tortor mauris, malesuada ut ligula eu, lacinia tristique lectus. Phasellus id congue eros, vel dapibus nunc. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur pretium est sed risus faucibus tempor. Duis tortor mauris, malesuada ut ligula eu, lacinia tristique lectus. Phasellus id congue eros, vel dapibus nunc. Aliquam tempor pulvinar massa vitae sollicitudin. Donec pretium ligula vel placerat auctor. Nunc luctus viverra massa, id cursus felis gravida vel. Nunc rutrum ante arcu, a sollicitudin ante porta pharetra. Curabitur cursus urna ut fermentum sollicitudin.
        article= text
            div(class = "num")= page
     
    div.nuvig
        if page > 1
            a( href="/?page=" + (page - 1) ) <
        if page === 1 || page === 2 || page > 5
            a( href="/?page=1") 1,
            a( href="/?page=2") 2,
            a( href="/?page=3") 3,
        else
            - for(var i = 1; i<=(page+1); i++)
                a( href="/?page="+i) #{i},
        if page > 5
            |...
            a( href="/?page="+(page-1) ) #{page-1},
            a( href="/?page="+page) #{page},
            a( href="/?page="+(page+1) ) #{page+1},
        |...
        a( href="/?page="+(page+1) ) >